.footer
  %ul
    %li= link_to "About", "#"
    %li= link_to "Investors", "#"
    %li= link_to "Community", "#"
    %li= link_to "Site Map", "#"
    %li= link_to "FAQ", "#"
    %li= link_to "Returns", "#"