.footer
  %ul
    %li= link_to "ABOUT DAVID JONES", "#"
    %li= link_to "FOR INVESTORS", "#"
    %li= link_to "COMMUNITY AND ENVIRONMENT", "#"
    %li= link_to "PRIVACY AND SECURITY", "#"
    %li= link_to "TERMS OF USE", "#"
    %li= link_to "SITE MAP", "#"
    %li= link_to "FAQ", "#"
    %li= link_to "RETURN POLICY", "#"
    %li= link_to "CONSUMER NOTICES", "#"